* {
    padding: 0;
    margin: 0;
    font-family: DM Sans;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    color: #FFFFFF;
    background-color: #2F1893;
    align-items: center;
}

.center {
    display: flex;
    gap: 35px;
    width: 70%;
    color: #FFFFFF;
    justify-content: center;
}

p {
    font-size: 16px;
    color: #FFFFFF;
}

h1 {
    width: 110px;
    height: 32px;
    top: -6px;
    left: 1px;
    font-size: 24px;
    color: #FFFFFF;
    align-items: center;
}

.right {
    width: 162px;
    height: 30px;
    top: 9px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    margin-right: 10px;
    justify-content: center;
    align-self: center;
}

button {
    width: 160px;
    height: 30px;
    top: 30px;
    left: 1105px;
    gap: 0px;
    opacity: 0px;
    background-color: aqua;
    border-radius: 15px;
    border: 1px solid aqua;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.content {
    width: 60%;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    gap: 60;
    font-size: 16px;
}

h2 {
    width: 111px;
    height: 19px;
    top: 42px;
    left: 115px;
    padding: 0px 3px 0px 2px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
}

.contact {
    background-color: #2F1893;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    width: 160px;
    height: 30px;
    gap: 0px;
    opacity: 60%;
    align-items: center;
    top: 9px;
    left: 23px;
    color: #FFFFFF;
}

.search {
    width: 180px;
    height: 30px;
    top: 9px;
    left: 23px;
    gap: 0px;
    opacity: 40%;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    align-items: center;
    background-color: #2F1893;
}

.last {
    width: 50%;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    gap: 60;
    font-size: 16px;
}

.next {
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    gap: 0px;
    opacity: 0px;
    display: flex;
    gap: 60;
    font-size: 16px;
}
.sign{
    color: #FFFFFF;
}
.signin1 {
    width: 110px;
    height: 30px;
    top: 9px;
    left: 23px;
    gap: 0px;
    opacity: 60%;
    font-size: 16px;
    background-color: #2F1893;
    font-size: 16px;
    border: 1px solid #2F1893;
    border-radius: 20px;
    align-items: center;
}

.signin2 {
    width: 110px;
    height: 30px;
    top: 9px;
    left: 23px;
    gap: 0px;
    font-size: 16px;
    background-color: #2F1893;
    font-size: 16px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    opacity: 60%;
    align-items: center;
    color: #FFFFFF;
}